* text=auto
*.sh text eol=lf
*.bat text eol=crlf
*.java text eol=lf
*.gradle text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.jspf text eol=lf
*.jsp text eol=lf
