<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noblesi.travelplanner.plansearch.dao.ReportDAO">

	<insert id="insertReport">
		INSERT INTO REPORT (
			REPORT_ID,
			PLAN_ID,
			REPORTER_MEMBER_ID,
			REASON_CODE,
			REASON_DETAIL
		) VALUES (
			SEQ_REPORT.NEXTVAL,
			#{request.planId},
			#{memberId},
			#{request.reason},
			#{request.detail}
		)
	</insert>

</mapper>
