<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noblesi.travelplanner.mapper.MyPageMapper">

	<resultMap id="memberInfoDoamin" type="com.noblesi.travelplanner.domain.member.MemberInfoDomain">
		<constructor>
            <idArg column="MEMBER_ID"         javaType="_long" />
            <arg column="MEMBER_NAME"       javaType="string" />
            <arg column="EMAIL"             javaType="string" />
            <arg column="NICKNAME"          javaType="string" />
            <arg column="GENDER_CODE"       javaType="string" />
            <arg column="PHONE_NUMBER"      javaType="string" />
            <arg column="PROFILE_IMAGE_URL" javaType="string" />
            <arg column="MEMBER_STATUS"     javaType="string" />
            <arg column="CREATED_AT"        javaType="string" />
            <arg column="WITHDRAWN_AT"      javaType="string" />
            <arg column="BIRTH_DATE"        javaType="java.time.LocalDate" />
		</constructor>
	</resultMap>

	<select id="selectMemberInfo" parameterType="java.lang.Long" resultMap="memberInfoDoamin">
		select 
			MEMBER_ID, 
			MEMBER_NAME, 
			EMAIL, 
			NICKNAME, 
			BIRTH_DATE, 
			GENDER_CODE, 
			PHONE_NUMBER, 
			PROFILE_IMAGE_URL, 
			MEMBER_STATUS, 
			CREATED_AT, 
			WITHDRAWN_AT 
		from MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>

	<update id="updateMemberInfo" parameterType="memberInfoRequest">
		update MEMBER
		SET 
			MEMBER_NAME			=	#{memberName},
			EMAIL				=	#{email},
			GENDER_CODE			=	#{genderCode},
			PHONE_NUMBER		=	#{phoneNumber},
			UPDATED_AT		    =	SYSDATE,
			BIRTH_DATE			=	#{birthDate}
		where MEMBER_ID = #{memberId}
	</update>

	<update id="updateNickname" parameterType="nickNameRequest">
		update MEMBER
		SET	NICKNAME = #{nickname}
		where MEMBER_ID = #{memberId}
	</update>

	<update id="updateProfileImage" parameterType="memberInfoRequest">
		update MEMBER
		SET	PROFILE_IMAGE_URL = #{profileImageUrl}
		where MEMBER_ID = #{memberId}
	</update>

	<update id="updateMemberStatus" parameterType="int">
		update MEMBER
		SET	MEMBER_STATUS = 'WITHDRAWN'
		where MEMBER_ID = #{memberId}
	</update>

</mapper>
